<h2>Month</h2>

<%= form_for @task, :url => { :action => 'create' }, :html => { :class => :form } do |f| -%>
  <%= f.hidden_field :span, { :value => 'month' } %>

  <div class="clearfix">
     <%= f.label :title, t("activerecord.attributes.task.title", :default => "タスク"), :class => :label %>
    <div class="input">
      <%= f.text_field :title, :class => 'text_field' %>
    </div>
  </div>
  
  <div class="form-actions">
    <button class="btn primary" type="submit">Add</button>
  </div>
<% end -%>

<table class="table table-striped">
 <thead>
  <tr>
    <th></th>
    <th>No.</th>
    <th>タスク</th>
    <th>追加日</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    
  <% @tasks.each_with_index{ |task, index| -%>
   <tr>
    <td>
      <% if task.priority > 0 %>
        <%= link_to "★", { :action => 'priority', :id => task.id, :priority => 0 } %>
      <% else %>
        <%= link_to "☆", { :action => 'priority', :id => task.id, :priority => 1 } %>
      <% end %>
    </td>
    <td><%= index + 1 %></td>
    <td><%= task.title %></td>
    <td><%= task.added_at.strftime("%Y年%m月%d日") unless task.added_at.blank? %></td>
    <td>
      <%= link_to "Done", { :action => 'done', :id => task.id }, :onClick=>"return confirm('完了します。よろしいですか？');" %>
    </td>
    <td>
      <%#= link_to "Show", task_path(task) %>
      <%#= link_to "Edit", edit_task_path(task) %>
      <%#= link_to "Destroy", task_path(task), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      <%= link_to "Delete", { :action => 'destroy', :id => task.id }, :onClick=>"return confirm('本当に削除してもよろしいですか？');" %>
    </td>
    </tr>
    <% } -%>
   </tbody>
</table>
